<!DOCTYPE html>
<html>
    <head>
        <link href="templates/ui.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <script>socketsStart()</script>
        <script src="templates/index.js" type="text/javascript"></script>
        <input type="text" id="domain" name="fname" placeholder=dominio><br>
        <input type="text" id="method" name="fname" placeholder=metodo><br>
        <textarea id="json" name="Text1" cols="40" rows="5" placeholder=json></textarea>
        <button onclick="SendHTTPRequest()">ENVIAR</button>
        <input type="file" name="file" id=file />
        <input type = "submit" onclick="SendHTTPRequestFile()"> Enviar Ficheiro <input/>
        <div id=message>

        </div>
    </body>
</html>