input{
    margin: 10px;
    font-size: 15px;
    width: auto;
    height: auto;
    display: inline;
}

select{
    margin: 10px;
    font-size: 15px;
    width: 500px;
    height: auto;
}


.login{
    margin: auto;
}

.loginBtn{
    display: inline;
}

textarea{
    margin: 10px;
    font-size: 15px;
    height: auto;
    display: block;
}

.files{
    position: relative;
    display: inline;
    left: 5px;
    top: 10px;
    margin: 10px;
}

button{
    position: relative;
    display: block;
    left: 5px;
    margin: 10px;
}

div{
    position: relative;
    margin-top: 10px;
    top: 15px;
    background-color: rgba(138, 138, 138, 0.1);
}